body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: black;
}

a {
    color: #0a58ca;
    text-decoration: none;
}

.container.text-center {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 50px;
}

.list-group-item {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 8px;
}