body{
    background-color: lightgray;
}
.original{
    width: 500px;
    height: 300px;
    position: relative;
    background-color: red;
}
.plava{
    width: 500px;
    height: 140px;
    background-color: darkblue;
    position: absolute;
    top: 80px;
}
.krug{
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 190px;
    top: 15px;
}
.plavaisland{
    width: 500px;
    height: 300px;
    background-color: darkblue;
    position: relative;
}
.bijelaisland1{
    width: 500px;
    height: 80px;
    background-color: white;
    position: absolute;
    top: 110px;
}
.bijelaisland2{
    width: 80px;
    height: 300px;
    background-color: white;
    position: absolute;
    left: 120px;
}
.crvenaisland1{
    width: 500px;
    height: 40px;
    background-color: red;
    position: absolute;
    top: 130px;
}
.crvenaisland2{
    width: 40px;
    height: 300px;
    background-color: red;
    position: absolute;
    left: 140px;
}
.mainbahama{
    width: 500px;
    height: 300px;
    background-color: teal;
    position: relative;
}
.zutabahama{
    width: 500px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 100px;
}
.trokutbahama{
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-left: 200px solid black;
    border-bottom: 150px solid transparent;
    position: absolute;
    z-index: 1;
}
.mainbahrain{
    width: 500px;
    height: 300px;
    background-color: red;
    position: relative;
}
.bijelabahrain{
    width: 100px;
    height: 300px;
    background-color: white;
    position: absolute;
}
.trokutbahrein1{
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid white;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 100px;
}
.trokutbahrein2{
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid white;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 100px;
    top: 60px;
}
.trokutbahrein3{
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid white;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 100px;
    top: 120px;
}
.trokutbahrein4{
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid white;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 100px;
    top: 180px;
}
.trokutbahrein5{
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid white;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 100px;
    top: 240px;
}

.mainkamerun{
    width: 500px;
    height: 300px;
    background-color: #007a5e;
    position: relative;
}

.crvenakamerun{
    width: 170px;
    height: 300px;
    background-color: #ce1126;
    position: absolute;
    margin-left: 170px;
}

.zutakamerun{
    width: 170px;
    height: 300px;
    position: absolute;
    background-color: #fcd116;
    margin-left: 340px;
}

.zvijezda{
    width: 100px;
    height: 100px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: #fcd116;
    position: absolute;
    z-index: 1;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}

.mainturska{
    width: 500px;
    height: 300px;
    background-color: red;
    position: relative;
}

.zvijezdaturska{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    margin-left: 250px;
    margin-top: 100px;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    transform: rotate(-20deg);
    z-index: 1;
}

.krugbijeliturska{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 50px;
}

.krugcrveniturska{
    width: 160px;
    height: 160px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    margin-left: 115px;
    margin-top: 70px;
}