body {
    background-color: black;
}

.prvi {
    width: 300px;
    height: 300px;
    background-color: salmon;
    transform: rotate(130deg) skew(10deg, 20deg);
    margin-left: 800px;
    margin-top: 400px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}

.drugi {
    width: 300px;
    height: 300px;
    background-color: rgb(176, 46, 46);
    transform: rotate(130deg) skew(10deg, 20deg);
    margin-left: 800px;
    margin-top: 400px;
    border-radius: 15px;
    position: absolute;
}

.treci {
    width: 300px;
    height: 300px;
    background-color: darkred;
    transform: rotate(130deg) skew(10deg, 20deg);
    margin-left: 800px;
    margin-top: 400px;
    border-radius: 10px;
    position: absolute;
}

.prvi:hover{
    transition: margin-top 1s ease-in-out;
    margin-top: 200px;
}
.drugi:hover{
    transition: margin-top 0.4s ease-in-out;
    margin-top: 250px;
}
.treci:hover{
    transition: margin-top 0.6s ease-in-out;
    margin-top: 300px;
}
