body {
    background-color: black;
}

.glavni {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 800px;
    margin-top: 350px;
}

.prvi { 
    width: 300px;
    height: 300px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    background-color: salmon;
    transform: rotate(130deg) skew(10deg, 20deg);
    border-radius: 10px;
    transition: 0.25s 0.05s ease-in-out;
}

.drugi {
    width: 300px;
    height: 300px;
    margin-left: 5x;
    margin-top: 5px;
    position: absolute;
    background-color: rgb(176, 46, 46);
    transform: rotate(130deg) skew(10deg, 20deg);
    border-radius: 10px;
    transition: 0.25s 0.025s ease-in-out;
}

.treci {
    width: 300px;
    height: 300px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    background-color: darkred;
    transform: rotate(130deg) skew(10deg, 20deg);
    border-radius: 10px;
}

.glavni:hover .prvi {
    transform: translateY(-100px) rotate(130deg) skew(10deg, 20deg);
}

.glavni:hover .drugi {
    transform: translateY(-50px) rotate(130deg) skew(10deg, 20deg);
}