* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    background-color: #012a4a;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #013a63;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: #fff;
}

.navigation a {
    box-shadow: #012a4a 8px 8px;
    margin: 5px;
}

.navigation .Films:hover,
.navigation .TVSeries:hover,
.navigation .VideoGames:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.15);
}

.navigation .Home{
    grid-area: 1 / 1 / 2 / 2;
    background-color: #2A6F97;
    padding: 20px;
    box-shadow: #012a4a 5px 5px;
}

.navigation .Films{
    grid-area: 1 / 6 / 2 / 7;
    background-color: #014F86;
    border: 2px solid #61A5C2;
    border-radius: 20px;
    padding: 10px;
}

.navigation .VideoGames{
    grid-area: 1 / 7 / 2 / 8;
    border: 2px solid #61A5C2;
    border-radius: 20px;
    padding: 10px;
}

.navigation .TVSeries{
    grid-area: 1 / 8 / 2 / 9;
    border: 2px solid #61A5C2;
    border-radius: 20px;
    padding: 10px;
}

.content {
    display: grid;
    height: 100%;
    max-width: 100%;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(4, 350px);
    gap: 10px;
    background-color: #01497C;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.content div {
    background-color: #014F86;
    border: 2px solid #61A5C2;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.content div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.content div p {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -80%);
    color: white;
    font-size: 28px;
    font-weight: bold;
    opacity: 0;
    transition: 0.3s ease;
}

.content div:hover img {
    filter: brightness(30%);
}

.content div:hover p {
    opacity: 1;
}

.content div a {
    display: block;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}


@media (max-width: 768px){
    .content {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: auto;
        grid-auto-rows: auto;
    }

    .content div {
        aspect-ratio: 2 / 3;
    }
}