body{
    background-color: black;
}
.text{
    color: white;
    margin-left: 500px;
    margin-top: 100px;
    font-family:'Times New Roman', Times, serif ;
}
.img{
    width: 800px; height: 500px;
    margin-left: 550px;
    margin-top: 150px;
    border: 5px solid white;
}