body{
    background-color: black;
}
.text{
    color: white;
    margin-left: 500px;
    margin-top: 100px;
}
.img{
    width: 800px; height: 500px;
    margin-left: 550px;
    margin-top: 5%;
    border: 5px solid white;
}