.main{
    height: 300px;
    width: 400px;
    background-color: #e3516e;
    position: relative;
}

.pravokutnik1{
    height: 100px;
    width: 80px;
    background-color: #511818;
    position: absolute;
    margin-left: 80px;
    margin-top: 100px;
}

.pravokutnik2{
    height: 100px;
    width: 80px;
    background-color: #511818;
    position: absolute;
    margin-left: 240px;
    margin-top: 100px;
}

.pravokutnik3{
    height: 60px;
    width: 80px;
    background-color: #511818;
    position: absolute;
    margin-left: 160px;
    margin-top: 140px;
}

.krug1{
    height: 40px;
    width: 40px;
    background-color: #511818;
    position: absolute;
    border-radius: 50%;
    margin-left: 180px;
    margin-top: 80px;
}

.krug2{
    height: 40px;
    width: 40px;
    background-color: #511818;
    position: absolute;
    border-radius: 50%;
    margin-left: 180px;
    margin-top: 220px;
}

.mainosobna{
    height: 300px;
    width: 500px;
    border: solid black 5px;
    position: relative;

}

.image{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
    object-fit: cover;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name{
    position: absolute;
    margin-left: 230px;
    margin-top: 30px;
}

.p1{
    position: absolute;
    margin-left: 200px;
    margin-top: 70px;
}
.p2{
    position: absolute;
    margin-left: 200px;
    margin-top: 130px;
}
.p3{
    position: absolute;
    margin-left: 200px;
    margin-top: 160px;
}
.p4{
    position: absolute;
    margin-left: 220px;
    margin-top: 210px;
}
.p5{
    position: absolute;
    margin-left: 320px;
    margin-top: 210px;
}